{% extends '::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h1>Video edit</h1>

                {% form_theme edit_form "form.html.twig" %}
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" value="Edit" />
                {{ form_end(edit_form) }}

                <ul>
                    <li>
                        <a href="{{ path('mmitv_video_index') }}">Back to the list</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
