{% extends '::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Bibliothèque</h1>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Url</th>
                        <th>Durée</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Image associée</th>
                        <th>Catégorie</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Actions possibles</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>
                    {% for video in videos %}
                        <tr>
                            <td>{{ video.title }}</td>
                            <td>{{ video.url }}</td>
                            <td>{{ video.duration|date("i-s") }}</td>
                            <td>{{ video.description }}</td>
                            <td>{{ video.date|date("m/d/Y") }}</td>
                            <td><div class="img-responsive"><img src="{{ video.poster }}" alt=""/></div></td>
                            <td>{{ video.category.name }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('mmitv_video_show', { 'id': video.id }) }}">Voir</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('mmitv_video_edit', { 'id': video.id }) }}">Editer</a>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <ul>
                <li>
                    <a href="{{ path('mmitv_video_new') }}">Ajouter une nouvelle vidéo</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
