{% extends '::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="container">
        <h1>{{ video.title }}</h1>

        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ video.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ video.title }}</td>
                </tr>
                <tr>
                    <th>Url</th>
                    <td>{{ video.url }}</td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td>{{ video.duration|date("i") }} min.</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ video.description }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ video.category.name }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ video.date|date("m/d/Y") }}</td>
                </tr>
                <tr>
                    <th>Poster</th>
                    <td><img src="{{ video.poster }}" alt=""></td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('mmitv_video_index') }}">Retour à la liste des vidéos</a>
            </li>
            <li>
                <a href="{{ path('mmitv_video_edit', { 'id': video.id }) }}">Editer "{{ video.title }}"</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
