{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} Dashboard{% endblock %}
{% block body %}
    <div class="row">
        <div class="grid container">
            <div class="table-responsive">
                <table class=" table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in 1..7 %}
                        <tr>
                            <td>
                                {{ hours[slot] }}
                            </td>
                            {% for day in 1..5 %}
                                <td>
                                    <a href="{{ path('mmitv_bloc_show', { 'slot': slot, 'day':day }) }}">
                                    {{ grid[day][slot]}}
                                    {% for category in slot %}
                                       {{ category.name }}
                                    {% endfor %}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
