{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} Dashboard{% endblock %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/css_time.css')  }}">
{% endblock %}
{% block body %}

    <div class="row">
        <div class="container timeline--button">
                    <button class="oblikd btn"><a href="{{ path('mmi_tv_renew', {'id': planning.id}) }}">Valider la grille</a></button>
                    <button class="oblikd btn"><a href="{{ path('mmitv_video_new', {'id': planning.id}) }}">Ajouter une vidéo</a></button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-md-9 col-xs-12">
                <h1>Semaine {{ planning.week }}</h1>
            </div>
        </div>
    </div>

    <div class="apercu col-md-3 col-xs-12">
        <div class="visu">
            <div class="categorie">
                <h1><span>></span> Catégorie</h1>
            </div>
            <div class="lecteur">
                <iframe src="https://www.youtube.com/embed/wC1SywXKfqo" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="titre bgvert">
                <h1>Serge Le Mytho #01 - Pourquoi Serge a arrêté l'école ?</h1>
            </div>
        </div>
        <div class="info">
            <div class="description col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="infobis">
                <div class="auteur col-lg-8 col-xs-6">
                    <a href="profil.html"><div id="photoplus"><div style="border-radius:50%;height: 30px;width: 30px;background: url('{{ user.photo }}') 0 0/30px 30px no-repeat;"></div></div><p id="prenom" class="hidden-md">{{ user.firstname }}</p></a>
                </div>
                <div class="boutons col-lg-4 col-xs-6">
                    <a href="#"><div id="suppa"><div id="supp"></div></div></a>
                    <a href="#"><div id="modifa"><div id="modif"></div></div></a>
                    <a href="#"><div id="signala"><div id="signal"></div></div></a>
                </div>
            </div>
        </div>
    </div>

    <div class="biblio col-md-9 col-xs-12">
        <table cellspacing="3">
            <tr class="entree">
                <td class="change">
                    <a href="precedent.php"><h1> < </h1></a><a href="suivant.php"><h1> > </h1></a>
                </td>
                <td>L</td>
                <td>M</td>
                <td>M</td>
                <td>J</td>
                <td>V</td>
            </tr>
            {% for slot in 1..7 %}
                <tr>
                    <td class="entree">
                        {{ hours[slot] }}
                    </td>
                    {% for day in 1..5 %}
                        <td class="{{ grid[day][slot]['class']}}{% for category in slot %}{{ category.class }}{% endfor %}">
                            <div>
                                <h1>
                                    {{ grid[day][slot]['name']}}
                                    {% for category in slot %}
                                        {{ category.name }}
                                    {% endfor %}
                                </h1>
                                <p>7 vidéos</p>
                            </div>
                            <div class="hover">
                                <a href="{{ path('mmitv_bloc_show', { 'slot': slot, 'day':day }) }}"><img src="{{ asset('assets/css/i.png')  }}" alt="1" width="25%"></a><br>
                                <a href="{{ path('mmitv_bloc_show', { 'slot': slot, 'day':day }) }}"><img src="{{ asset('assets/css/plus.png')  }}" alt="+" width="25%"></a>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
{% block script %}
    {{ parent() }}

    <script type="text/javascript">


        // Organisation blocs aperçu vidéo

        $('#triul li h1').click(function() {  					//////////// NE MARCHE PAS - AJOUTER ACTUAL AU LI EN COURS (RECTANGLE)
            $(".actual h1").css('color', '#000');
            $('#triul li').removeClass('actual');

            var parent = $(this).parent();
            if (!parent.hasClass('actual')) {

                parent.addClass('actual');
            }

        });

        $(window).on('resize load', function hauteur() {

            var a = $('.apercu').height();
            var v = $('.visu').height();
            var u = $('.auteur').innerHeight();

            var p = $('.profil').innerWidth();
            var p1 = $('.photo').innerWidth();
            var p2 = $('.promo').innerWidth();
            var p3 = $('.nbvideos').innerWidth();

            var p4 = p - p1 - p2 - p3 - 20


            var i = a - v;
            var d = i - u;
            var d = d - 40;

            $('.info').height(i);
            $('.description').outerHeight(d);
            $('.nom').innerWidth(p4);

        }).trigger('resize');

        // Nav tri biblio

        $(function() {

            // var = new Array('tous', 'actus', 'visuel', 'techno', 'ateliers', 'fun', '#aftermmi');
            // console.log('hello');

            var $el, leftPos, newWidth;
            $nav = $("#triul");

            $nav.append("<li id='magic' class='oblikd'></li>");

            var $magic = $("#magic");

            var current = $('.actual h1');

            $magic
                    .width($(".actual").width())
                    .height($nav.height())
                    .css("left", $(".actual h1").position().left)
                    .data("origLeft", $(".actual h1").position().left)
                    .data("origWidth", $magic.width())
                    .data("origColor", $(".actual h1").attr("rel"));

            $("#triul h1").hover(function() {
                $el = $(this);

                var father = $el.parent();
                if (!father.hasClass('actual')) {
                    $(".actual h1").css('color', '#7ee4d7');
                }

                leftPos = $el.position().left;
                newWidth = $el.parent().width();
                $magic.stop().animate({
                    left: leftPos,
                    width: newWidth
                })

            }, function() {
                $magic.stop().animate({
                    left: $magic.data("origLeft"),
                    width: $magic.data("origWidth")
                });


                $(".actual h1").css('color', '#fff');


            });



            $("#triul h1").click(function() {
                $el = $(this);
                leftPos = $el.position().left;
                newWidth = $el.parent().width();

                $magic.data("origLeft", $(".actual h1").position().left);
                $magic.data("origWidth", $magic.width());
                $(".actual h1").css('color', '#fff');
                $magic.data("origColor", $(".actual h1").attr("rel"));

            });



            /* Kick IE into gear */
            $(".actual h1").mouseenter();
        });

        $(function () {
            var filterList = {
                init: function () {

                    $('.list').mixItUp({
                        selectors: {
                            target: '.portfolio',
                            filter: '.filter'
                        },

                        load: {
                            filter: '.all'
                        }
                    });
                }
            };
            filterList.init();
        });

    </script>
{% endblock %}