<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}MMI+ - Accueil{% endblock %}</title>

    {% block style %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/bootstrap/dist/css/bootstrap.min.css')  }}" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{{ asset('assets/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css')  }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/jumbotron.css')  }}" rel="stylesheet">

        <!--  CSS MMI_PLUS  !-->
        <link rel="stylesheet" href="{{ asset('assets/css/css_general.css')  }}">
        <link rel="stylesheet" href="{{ asset('assets/css/css_ajoutyoutube.css')  }}">
        <link rel="stylesheet" href="{{ asset('assets/css/css_apercu.css')  }}">
        <link rel="stylesheet" href="{{ asset('assets/css/css_biblio.css')  }}">

        <link rel="stylesheet" href="{{ asset('assets/css/css_navbar.css')  }}">
        <link rel="stylesheet" href="{{ asset('assets/css/css_profil.css')  }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')  }}">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="{{ asset('assets/bootstrap/docs/assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
        <script src="{{ asset('assets/bootstrap/docs/assets/js/ie-emulation-modes-warning.js') }}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}


</head>

<body>

<nav class="navigation navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="MMI+" src="{{ asset('assets/img/logommi+.png')  }}">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><div id="biblioa"><div id="biblio"></div></div></a></li>
            <li><a href="#"><div id="timelinea"><div id="timeline"></div></div></a></li>
            <li class="deconav">
                <a href="#"><div id="photoplus"><div id="photoprofil"></div></div><p id="prenom" class="hidden-xs">Valentin</p></a>
                <ul class="nav" id="decomenu">
                    <li>
                        <a href="#">  	<!-- DECONNEXION	 -->
                            <h1 class="text-center hidden-xs">Déconnexion</h1>
                            <div id="logout" class="visible-xs"></div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="faqnav vbar"><a href="faq.php"><div id="faqa"><div id="faq"></div></div></a>
                <ul class="nav" id="faqmenu">
                    <li><a href="#"><div id="quicka"><div id="quick"></div></div></a></li>		<!-- QUICK TOUR	 -->
                    <li><a href="#"><div id="contacta"><div id="contact"></div></div></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="row">

    <div class="profil col-xs-12">
        <div class="photo oblikd"><div id="photobande"></div></div>
        <div class="nom oblikd bgvert"><h1>Valentin Da Justina</h1></div>
        <div class="promo oblikd"><h1>MMI2D</h1></div>
        <div class="nbvideos oblikd"><h1><span>21</span> vidéos</h1></div>
    </div>

</div>

{% block body %}
{% endblock %}

{% block fos_user_content %}
{% endblock %}
</body>
</html>
