{% extends '::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Liste des catégories</h1>

            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions possibles</th>
                </tr>
                {% for message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-danger">
                        <strong>Erreur</strong> : {{ message }}
                    </div>
                {% endfor %}
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td><a href="{{ path('mmitv_category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                        <td>{{ category.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('mmitv_category_show', { 'id': category.id }) }}">Voir</a>
                                </li>
                                <li>
                                    <a href="{{ path('mmitv_category_edit', { 'id': category.id }) }}">Editer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('mmitv_category_new') }}">Ajouter une nouvelle catégorie</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
