{% extends '::layout.html.twig' %}

{% block body %}
    <div class="well">
                <h1>Créer une catégorie</h1>
                <div class="form-group">
                    {% form_theme form "form.html.twig" %}
                    {{ form_start(form) }}
                    {{ form_label(form.name, "Nom de la catégorie", {'label_attr': {'class': 'control-label'}}) }}
                    {{  form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    <input type="submit" value="Ajouter" />
                    {{ form_end(form) }}
                </div>
                <a href="{{ path('mmitv_category_index') }}">Retour à la liste de catégories</a>
    </div>


{% endblock %}
