{% extends '::layout.html.twig' %}

{% block body %}
    <div class="containter">
        <div class="row">
            <div class="col-md-12">
                <h1>Catégorie {{ category.name }}</h1>

                <ul>
                    <li>
                        <a href="{{ path('mmitv_category_index') }}">Retour à la liste de catégories</a>
                    </li>
                    <li>
                        <a href="{{ path('mmitv_category_edit', { 'id': category.id }) }}">Editer la catégorie {{ category.name }}</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>

                <p>Cette catégorie contient les vidéos suivantes :</p>

                {% for video in videos %}
                    <div class="row" style="margin-bottom:2em;">
                        <div class="col-lg-6 col-md-10 col-sm-6 col-xs-12 ">
                            <div class="img img-responsive">
                                <img src="{{ video.poster }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-10 col-sm-6 col-xs-12 ">
                            <li>
                                <a href="{{ path('mmitv_video_show', {'id': video.id}) }}">
                                    <h4> {{ video.title }}</h4>
                                </a>
                                le {{ video.date|date('d/m/Y') }}
                                <p class="bg-info">{{ video.description }}</p>
                            </li>
                        </div>
                    </div>
                {% else %}
                    <p>On dirait qu'il n'y a pas encore de vidéos dans cette catégorie! Rendez-vous <a href="{{ path('mmitv_video_new') }}">ici</a> pour ajouter des vidéos.</p>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
