{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bloc</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bloc.id }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ bloc.duration }}</td>
            </tr>
            <tr>
                <th>Slot</th>
                <td>{{ bloc.slot }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if bloc.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Weeknumber</th>
                <td>{{ bloc.weekNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bloc_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bloc_edit', { 'id': bloc.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
