{% extends '::layout.html.twig' %}

{% block body %}
    <h1>{{ hours[slot]}} - {{ bloc.category.name }}</h1>

    {% if bloc.videos is empty %}
        <p>Il n'y a pas encore de vidéo dans ce créneau.</p>
    {% else %}
        {% for video in bloc.videos %}
            <div class="row">
                <div class="container">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        {{ video.poster }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p>{{ video.title }}</p>
                        <p>{{ video.date|date("m/d/Y") }}</p>
                        <p>{{ video.date|date("i:s") }}</p>
                        <p>{{ video.description }}</p>
                        <p>{{ video.url }}</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p><a href="{{ path('mmitv_video_edit', { 'id': video.id }) }}">Editer</a></p>
                        <p><a href="{{ path('mmitv_video_softdelete', { 'id': video.id }) }}">Supprimer de la grille</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <button><a href="{{ path('mmitv_video_new', {'blocId':bloc.id}) }}">Ajouter une vidéo</a></button>

    <ul>
        <li>
            <a href="{{ path('mmitv_home') }}">retour à la grille de programmation</a>
        </li>
    </ul>
{% endblock %}
