{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Video list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Date</th>
                <th>Poster</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td><a href="{{ path('video_show', { 'id': video.id }) }}">{{ video.id }}</a></td>
                <td>{{ video.title }}</td>
                <td>{{ video.url }}</td>
                <td>{{ video.duration }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.date }}</td>
                <td>{{ video.poster }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('video_show', { 'id': video.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('video_edit', { 'id': video.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('video_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
